[Desktop Entry]
Type=Application
Name=PicoForge All
Comment=Unofficial PicoForge fork for Pico All
Exec=picoforge
Icon=in.suyogtandel.picoforge
Terminal=false
Categories=Utility;
Keywords=Config;
StartupWMClass=in.suyogtandel.picoforge
StartupNotify=true
DBusActivatable=false
